main{
    height: 25vw !important;
    background-position: bottom !important;
}
#holder-book{
    width: 100vw;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;

    height:auto !important;
    max-height: 170vh;
    margin-bottom: 15vh;
}
.titulo-principal{
    display: flex;
   
    justify-content: center;
    max-width: 40vw;
    height: auto;
    font-weight: 500;
    font-size: 4vh;
}
span{
    font-size: 2vh;
    display: flex;
    justify-content: center;
}
.imagen{
    display: flex;
    justify-content: center;
}
.imagen img{
   
   height: auto;
   width: 20vw;
   
    margin: 2vh 0 2vh 0;
    background-color: unset !important;
}
p#descripcion{  
    display: flex;
    justify-content: center;text-align: center;
     width: 80vw;
    height: auto;
    max-width: 65vw;
     margin:5vw 2vh ;
    font-size: small;
    font-family:'open sans', sans-serif;
    margin-bottom: 5vh;
}

header #logo{
    
    width: fit-content;
    
    height: 5vh;
   margin-top: 1.5vh;
   margin-left: 2vw;
   

}
#header-logo{
display: none;
}

@media (max-width: 1300px ) {
}

@media (max-width: 700px ) {
    #header-logo{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 9vh;
        background-size: contain ;
        background: linear-gradient(180deg,rgba(236, 248, 60, 0.829)50% ,rgb(54, 116, 42));
                    }

    #header-logo > img{
            display: flex;
            margin: 0px;;
        }

}